.header {
  width: 100%;
  height: 65px;
  background: #59b791;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.subHeader {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 10vh;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.logo .logoimage {
  height: 40%;
}
.exploreText {
  font-size: 10px;
  font-style: italic;
}

.logo .goldenStar {
  width: 10px;
  height: 10px;
}

.searchInputContainer {
  width: 25rem;
  position: relative;
  height: 2.5rem;
  border-radius: 5px;
  overflow: hidden;
  display: flex;

  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.searchInput {
  width: 500rem;
  border: 0;
  height: 2rem;
  outline: none;
  box-sizing: border-box;
  padding: 0 10px;
}
.searchIconContainer {
  padding-right:2% ;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.rightMenu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.loginButton {
  display: block;
  width: 100px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #59b791;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginButton:hover {
  background-color: #dce4dc;
}

.loginButton:active {
  background-color: #dce4dc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.more,
.fullName {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}
.cart {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.authContainer {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}

.leftspace {
  width: 40%;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  background-image: url("../../images/login-image.png");
  background-color: #59b791;
  background-repeat: no-repeat;
  background-position: center 85%;
  padding: 40px 33px;
  box-sizing: border-box;
}

.rightspace {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.loginInputContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 40px 0;
}
.more {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;

  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  background: #59b791;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.more:hover {
  background-color: #b7cfb8;
}

.call a{
color: white;
font-size: 1rem;

}
.call a:hover{
background-color: rgb(19, 122, 170);
font-size: 1.3rem;

}