.fimag1 {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.home-page {
  width: 97vw;
  height: 60vh;
}
.image-container {
        margin-top: 7%;
  background-color: black;
  width: 95vw;
  height: 50vh;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
